{% extends 'base.html.twig'%}

    {% block body %}
   
    <main class="container">
     <div class="jumbotron mt-3">
            <h1 class="h1">{{titre}}</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Plus d'infos</a>
            </p>
        </div>


        <h3 class="h1 mt-3 mb-4">Offres spéciales</h3>
        <section class="row">
        
            <article class="col-md-4">

                <div class="card mb-3">
                    <h3 class="card-header text-white bg-dark">3 chambres, <strong>50 € / nuit</strong></h3>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/arch" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Loft à Londres</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quos eligendi repudiandae tenetur quo officia, illum reprehenderit animi earum incidunt debitis veniam soluta minima culpa similique eius blanditiis unde sint!</p>
                   
                        <a href="#" class="btn btn-primary">Plus d'infos</a>
                    </div>
                    
                 
                    <div class="card-footer text-muted">
                       Pas encore noté.
                    </div>
                    </div>
                    
            
            </article>

            <article class="col-md-4">

                <div class="card mb-3">
                    <h3 class="card-header text-white bg-dark">2 chambres, <strong>90 € / nuit</strong></h3>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/people" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Appartement à Toulouse</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quos eligendi repudiandae tenetur quo officia, illum reprehenderit animi earum incidunt debitis veniam soluta minima culpa similique eius blanditiis unde sint!</p>
                   
                        <a href="#" class="btn btn-primary">Plus d'infos</a>
                    </div>
                    
                 
                    <div class="card-footer text-muted">
                       Pas encore noté.
                    </div>
                    </div>
                    
            
            </article>

            <article class="col-md-4">

                <div class="card mb-3">
                    <h3 class="card-header text-white bg-dark">5 chambres, <strong>150 € / nuit</strong></h3>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/nature" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Maison à Glasgow</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quos eligendi repudiandae tenetur quo officia, illum reprehenderit animi earum incidunt debitis veniam soluta minima culpa similique eius blanditiis unde sint!</p>
                   
                        <a href="#" class="btn btn-primary">Plus d'infos</a>
                    </div>
                    
                 
                    <div class="card-footer text-muted">
                       Pas encore noté.
                    </div>
                    </div>
                    
            
            </article>
        
        
        </section>
        <h3 class="h1 mt-3 mb-5">Meilleures Hebergeurs</h3>
        <section class="row">
        
            <article class="col-md-3">

                <div class="card mb-3">
                    <h3 class="card-header text-dark bg-warning">John D.</h3>
                    
                    <div class="card-body">
                        <img  src="http://placeimg.com/64/64/people" alt="Card image" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quos eligendi repudiandae tenetur quo officia, illum reprehenderit animi earum incidunt debitis veniam soluta minima culpa similique eius blanditiis unde sint!</p>
                   
                        <a href="#" class="btn btn-warning text-dark">Plus d'infos</a>
                    </div>
                    
                 
                    
                 </div>
                    
            
            </article>
            <article class="col-md-3">

                <div class="card mb-3">
                    <h3 class="card-header text-dark bg-warning">John D.</h3>
                    
                    <div class="card-body">
                        <img  src="http://placeimg.com/64/64/people" alt="Card image" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quos eligendi repudiandae tenetur quo officia, illum reprehenderit animi earum incidunt debitis veniam soluta minima culpa similique eius blanditiis unde sint!</p>
                   
                        <a href="#" class="btn btn-warning text-dark">Plus d'infos</a>
                    </div>
                    
                 
                    
                 </div>
                    
            
            </article>
            <article class="col-md-3">

                <div class="card mb-3">
                    <h3 class="card-header text-dark bg-warning">John D.</h3>
                    
                    <div class="card-body">
                        <img  src="http://placeimg.com/64/64/people" alt="Card image" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quos eligendi repudiandae tenetur quo officia, illum reprehenderit animi earum incidunt debitis veniam soluta minima culpa similique eius blanditiis unde sint!</p>
                   
                        <a href="#" class="btn btn-warning text-dark">Plus d'infos</a>
                    </div>
                    
                 
                    
                 </div>
                    
            
            </article>
            <article class="col-md-3">

                <div class="card mb-3">
                    <h3 class="card-header text-dark bg-warning">John D.</h3>
                    
                    <div class="card-body">
                        <img  src="http://placeimg.com/64/64/people" alt="Card image" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quos eligendi repudiandae tenetur quo officia, illum reprehenderit animi earum incidunt debitis veniam soluta minima culpa similique eius blanditiis unde sint!</p>
                   
                        <a href="#" class="btn btn-warning text-dark">Plus d'infos</a>
                    </div>
                    
                 
                    
                 </div>
                    
            
            </article>

            
        
        
        </section>
    </main>
       


    {% endblock %}
