{% extends 'base.html.twig' %}

{% block title %} Page non trouvée - Error 404 {% endblock %}

{% block body %}
<div class="container">
<h1> Oups! Page non trouvée </h1>

<p class="h4"> Merci de revenir à  <a href="{{path('homepage')}}">la page d'accueil</a>. </p>

<a href="{{path('homepage')}}" class="btn btn-primary">la page d'accueil</a>
<a href="{{path('ads_list')}}" class="btn btn-secondary">nos annonces</a>
</div>


{% endblock %}